.sun-icon {
  color: hsl(0 0% 43.5%);
  display: block;
}

.light-mode--button {
  outline: 2px solid transparent;
  transition: all 0.2s ease-out;
}

.light-mode--button:hover svg {
  color: hsl(226 70% 55.5%);
}

.light-mode--button:hover {
  outline: 2px solid hsl(226 70% 55.5%);
  transform: scale(0.95);
  padding: 8px;
  box-shadow: 0 2px 40px -4px hsl(226 75.4% 74.5%);
}

.about-container--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  font-size: 18px;
  line-height: 1.8;
  margin: 40px 0;
}

.resume-download {
  background-color: hsl(226 70% 55.5%) !important;
  color: #fff !important;
}

.hero-link,
.resume-download {
  padding: 12px 18px;
  background-color: hsl(223 92.9% 95%);
  border-radius: 10px;
}

.work-list {
  margin: 40px 0;
}

.work-item {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  gap: 10px;
}

.work-item:not(:last-child) {
  margin-bottom: 50px;
}

.footer_link {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: hsl(0 0% 43.5%) !important;
  transition: all 0.3s;
}

.footer_link:hover {
  color: hsl(0 0% 9%) !important;
}

#header {
  transition: height 0.2s;
}

#header[data-active="true"] {
  backdrop-filter: blur(8px);
  background-color: hsl(0 0% 99%, 0.1);
  height: 70px;
  border: 1px solid hsl(0 0% 95.1%);
}
